<% if (!profile) { %>
    <article id="profile-form">
        <div class="profile-row req-error">
            <p>The current profile was not found, please contact with the IT team</p>
        </div>
    </article>    
<% } else { %>
<div id="profile-form">
    <div class="profile-row">
        <label for="firstname">First Name</label><input id="firstname" type="text" value="<%= profile.first_name %>" size="40" maxlength="50" readonly/>
    </div>
    <div class="profile-row">
        <label for="lastname">Last Name</label><input id="lastname" type="text" value="<%= profile.last_name %>" size="40" maxlength="60" readonly/>
    </div>
    <div class="profile-row">
        <label for="birthyear">Birth Year</label><input id="birthyear" value="<%= profile.birth %>" type="date" readonly/>
    </div>
    <div class="profile-row">
        <label for="username">Username</label><input id="username" type="text" value="<%= profile.username %>" size="30" maxlength="30"readonly/>
    </div>
    <div class="profile-row">
        <label for="password">Password</label><input id="password" type="text" value="<%= profile.password %>" size="30" maxlength="30" readonly/>
    </div>
    <div class="profile-row">
        <label for="dateregistration">Date registration</label><input id="dateregistration" value="<%= profile.registration_date %>" type="date" readonly/>
    </div>
    <div class="profile-row">
        <label for="email">Email</label><input id="email" value="<%= profile.email %>" type="email" readonly/>
    </div>
    <div class="profile-row">
        <label for="gender">Gender</label>
        <input name="gender" id="gender-male" type="radio" value="1" <%= profile.gender ? 'checked' : '' %> disabled/>
        <span>Male</span>
        <input id="gender-female" name="gender" type="radio" value="0" <%= (!profile.gender) ? 'checked' : '' %> disabled/>
        <span>Female</span>
    </div>
    <div class="profile-row">
        <label for="movile">Movile</label><input id="movile" value="<%= profile.movile %>" type="tel" readonly/>
    </div>
    <div class="profile-row">
        <label for="Country">Country</label><% include ./control/country %>
    </div>
    <div class="profile-row">
        <label for="City">City</label><input id="City" type="text" value="<%= profile.city %>" size="30" maxlength="30" readonly/>
    </div>
    <div class="profile-row">
        <label for="postalcode">Postal Code</label><input id="postalcode" value="<%= profile.postal_code %>" type="text" size="15" maxlength="15" readonly/>
    </div>
    <div class="profile-row">
        <input type="checkbox" id="enable_profile_edition">Enable edition
    </div>
    <div class="profile-row">
        <button class="done_button" type="submit" disabled>Update</button>
    </div>
</article>
<% } %>