<article id="configuration-form">
<%  
let column = 0;
config.forEach((item) => { 
    if ((column % 5) === 0) { %>
        <div class="configuration-row">
    <% } %>
    <div class="configuration-item">
        <label for="titlepage"><%= item.description %></label>
        <div class="option-wrapper">
            <% if (item.type === 'text') { %>   
                <input id="<%= item.name %>"  name="<%= item.name %>" type="text" size="8" value="<%= item.value %>"/>
            <%} else if (item.type === 'checkbox') { %>
                <input id="includephoto" type="checkbox" <%= Number(item.value) ? 'checked' : '' %> value="<%= Number(item.value) %>"/>
            <%} else if (item.type === 'select') { %>
                <select name="<%= item.name %>" id="<%= item.name %>">
                    <% const options = JSON.parse(item.options);
                        for (key in options) { %>
                        <option value="<%= key %>" <%= (item.value === key) ? 'selected' : '' %>><%= options[key] %></option> 
                    <% } %>
                    </select>
            <%} else if (item.type === 'radio') { %>
                <% const options = JSON.parse(item.options);
                   options.forEach((option) => {
                %>
                <div>
                    <input name="countsocial" type="radio" value="<%= option%>" <%= (item.value === option) ? 'checked' : '' %>/>
                    <span><%= option%></span>
                </div>
                <% }); %>
            <% } %>
        </div>
    </div>
<% column++;
   if ((column % 5) === 0) { %>
    </div>
<% } 
}); %>
</article>
