<article id="documents-form-one">
    <h2>Images</h2>
    <%  let index = 1;
        files.images.forEach( imageCode => { %>
        <% if (index === 1 || ((index - 1) % 6) === 0) { %>
            <div class="documents-row">
        <% } %>
        <div class="documents-item">
            <label for="<%= imageCode%>"><%= imageCode%></label>
            <img src="http://localhost:8888/api/image/<%= imageCode%>" alt="<%= imageCode%>" height="150">
        </div>
        <% if (index !== 1 && ((index) % 6) === 0) { %>
            </div>
        <% }
        index++;
        }); %>
    <% if (index !== 1 && ((index) % 6) === 0) { %>
       </div>
    <% } %>
</article>

<article id="documents-form-two">
    <h2>Images HD</h2>
    <%  index = 1;
        files.imagesHD.forEach( imageCode => { %>
        <% if (index === 1 || ((index - 1) % 6) === 0) { %>
            <div class="documents-row">
        <% } %>
        <div class="documents-item">
            <label for="<%= imageCode%>"><%= imageCode%></label>
            <img src="http://localhost:8888/api/image-large/<%= imageCode%>" alt="<%= imageCode%>" height="150">
        </div>
        <% if (index !== 1 && ((index) % 6) === 0) { %>
            </div>
        <% }
        index++;
        }); %>
    <% if (index !== 1 && ((index) % 6) === 0) { %>
       </div>
    <% } %>
</article>