<article id="messages-form">
    <% if (error) {%>
        <div class="messages-row req-error">
            <p><%= error %></p>
        </div>    
    <% } else { %>
        <h2><%= box.name + ', ID:[' + box.id + ']' %></h2>
        <p><%= 'Number of messages: ' + box.count %></p>
        <% messages.forEach( message => { %>
        <div class="messages-row">
            <div class="wrapper">
                <h3>Message <%= message.id %></h3>
                <p>Sent at: <%= message.sentAt %></p>
                <textarea rows="4" cols="80" readonly><%= message.text %></textarea>
                <span><%= message.subject %></span><a href="mailto:<%= message.from %>">(<%= message.from %>)</a>
            </div>
        </div>
        <% }); 
    } %>
</article>