<div class="fog-frame-x" id="list">
    <section class="frame">
        <div id="available-list-of-pieces">
            <h3>ALL AVAILABLE PIECES</h3>
            <% for (let key in piecePhoto) { 
                   if (piecePhoto.hasOwnProperty(key)) { 
                       const item = piecePhoto[key];
            %>
                   <div class="list-item-row" id="<%= item.id %>">
                       <div id="a-piece-name"><%= item.name %></div>
                       <div id="a-artist"><%= item.artist %></div>
                   </div>
            <% }}; %>
         </div>
    </section>
</div>

<div class="fog-frame-x" id="cart-picking">
    <section class="frame">
        <div id="picked-pieces">
            <h3>My Cart</h3>
            <% cart.forEach (cartItem => { %>
                <div class="pick-item-row">
                    <div class="attach_cart_item"><input type="checkbox" id="<%= cartItem.id %>" amount="<%= cartItem.USDprice %>" class="attach-cart-item-checkbox" <%= cartItem.active ? 'checked' : '' %>></div>
                    <div class="cart_item_name"><%= cartItem.name %></div>
                    <div class="origin_cart_item_price"><%= cartItem.price %> <%= cartItem.currency %></div>
                    <div class="cart_item_price"><%= cartItem.USDprice %> USD</div>
                </div>
            <% }); %>
            <div class="pick-item-row total" id="picked-total" list="<%= purchaseItems %>" paused="<%= purchasePaused %>" unchecked="<%= unchecked %>" checked="<%= checked %>"><span id="amountSum" sum="<%= totalPurchase %>">Total: <%= totalPurchase %> USD</span></div>
            <br/>
            <!-- FORM compra modo Cart -->
            <FORM action="https://www.sandbox.paypal.com/cgi-bin/webscr" method="post" id="paypal-cart-form">
                <INPUT TYPE="hidden" NAME="upload" value="1">
                <INPUT TYPE="hidden" NAME="cmd" value="_cart">
                <!-- Specify a PayPal shopping cart View Cart button. -->
                <!--<input TYPE="hidden" NAME="display" value="1"> ISSUE, makes paypal think cart is empty-->
                <INPUT TYPE="hidden" id="business" NAME="business" value="gallery.art.shopp@gmail.com">
                <%  const purchaseCartItem = JSON.parse(purchaseItems);
                    purchaseCartItem.filter(item => (item !== null)).forEach((cartItem, index) => {
                        const itemIndex = index + 1;
                %>
                        <INPUT TYPE="hidden" class="item-paypal" NAME="item_name_<%= itemIndex %>" id="item_name_<%= itemIndex %>" value="<%= cartItem.description %>">
                        <INPUT TYPE="hidden" class="item-paypal" NAME="item_number_<%= itemIndex %>" id="item_number_<%= itemIndex %>" value="<%= cartItem.custom_id %>">
                        <INPUT TYPE="hidden" class="item-paypal" NAME="quantity_<%= itemIndex %>" id="quantity_<%= itemIndex %>" value="1">
                        <INPUT TYPE="hidden" class="item-paypal" NAME="amount_<%= itemIndex %>" id="amount_<%= itemIndex %>" value="<%= cartItem.amount.value %>">
                <% }); %>
                <INPUT TYPE="hidden" NAME="currency_code" value="USD">
                <INPUT TYPE="hidden" id="cart-total" NAME="amount" value="<%= totalPurchase %>">

                <INPUT TYPE="hidden" NAME="return" value="http://localhost:3000/bought/cart-done">
                <INPUT TYPE="hidden" NAME="cancel_return" value="http://localhost:3000/bought">
                <INPUT TYPE="hidden" NAME="rm" value="2">
                <INPUT TYPE="hidden" NAME="notify_url" value="http://localhost:3000/learning">
                <INPUT TYPE="hidden" NAME="shopping_url" value="http://localhost:3000/">
                <!--<input type="hidden" name="paymentaction" value="authorization">  https://www.sandbox.paypal.com/webapps/shoppingcart/error?flowlogging_id=d73d68aefaf75&code=GENERIC_ERROR&mfid=1578354677745_d73d68aefaf75-->
                <!--<input type="hidden" name="bn" value="PP-BuyNowBF" />-->
                <INPUT TYPE="image" NAME="submit" src="https://www.paypalobjects.com/en_US/i/btn/btn_buynow_LG.gif" alt="PayPal - The safer, easier way to pay online">
                <IMG alt="" width="1" height="1" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" >
                <!--<INPUT TYPE="hidden" NAME="charset" value="utf-8">-->

                <!-- ENABLE OVERRIDE of buyers's address stored with PayPal . -->
                <!--<input type="hidden" name="address_override" value="1">-->
                <!-- BUYER INFO AUTO-FILL FORM -->
                <!--
                <input type="hidden" name="first_name" value="John">
                <input type="hidden" name="last_name" value="Doe">
                <input type="hidden" name="address1" value="9 Elm Street">
                <input type="hidden" name="address2" value="Apt 5">
                <input type="hidden" name="city" value="Berwyn">
                <input type="hidden" name="state" value="PA">
                <input type="hidden" name="zip" value="19312">
                <input type="hidden" name="night_phone_a" value="610">
                <input type="hidden" name="night_phone_b" value="555">
                <input type="hidden" name="night_phone_c" value="1234">
                <input type="hidden" name="email" value="jdoe@zyzzyu.com">-->
            </FORM>
        </div>
    </section>
</div>

<div class="fog-frame-x" id="logout-frame">
    <section class="frame">
        <div id="logout-frame">
            <h3>Logout</h3>
            <p>You are about to leave you session, logout?</p>
            <div id="buttons">
                <button id="logout-yes">Yes</button>
                <button id="logout-no">No</button>
            </div>
        </div>
    </section>
</div>