<section id="login-frame">
    <div class="title">
        <h1><%= title %></h1>
    </div>

    <div class="login-body">
        <div class="row">
            <% if (response) { %>
                <div id="message-label" class="<%= response.result ? 'req-sucess' : 'req-error' %> show-fading">
                    <span><%= response.message %></span>
                </div>
            <% } else {%>
                <div id="message-label"></div>
            <% } %>
        </div>
        <% if (response && response.result) { %>
        <form id="change-password-form" method="POST" action="/login/enter-new-password">
            <input name="code" type="hidden" value="<%= response.code %>"/>
            <input name="completeName" type="hidden" value="<%= response.completeName %>"/>
            <div class="row">
                <label for="username">Current username:</label>
                <input id="username" name="username" type="text" value="<%= response.username %>" readonly/>
            </div>
            <div class="row">
                <label for="password">New password:</label>
                <input id="password" name="password" type="password" placeholder="Please enter your password" required pattern=".{8,}" title="8 characters minimum"/>
                <div id="password_message"></div>
            </div>
            <div class="row">
                <label for="confirm_password">Confirm password:</label>
                <input id="confirm_password" name="confirm_password" type="password" placeholder="Confirm your password" required pattern=".{8,}" title="8 characters minimum"/>
            </div>
            <div id="waiting-change-response">
                <img src="/images/loading.gif"/>
            </div>
            <div class="row">
                <button id="change-password" type="submit">Change password</button>
            </div>
        </form>
        <% } %>
    </div>
</section>