<section id="login-frame">
    <div class="title">
        <h1><%= title %></h1>
    </div>

    <div class="login-body">
        <div class="row">
            <% if (response_password) { %>
                <div id="message-label" class="<%= response_password.result ? 'req-sucess' : 'req-error' %> show-fading">
                    <span><%= response_password.message %></span>
                </div>
            <% } else {%>
                <div id="message-label"></div>
            <% } %>
        </div>
        <div class="row">
            <% if (response_code) { %>
                <div id="message-label" class="<%= response_code.result ? 'req-sucess' : 'req-error' %> show-fading">
                    <span><%= response_code.message %></span>
                </div>
            <% } else {%>
                <div id="message-label"></div>
            <% } %>
        </div>
        <div class="row">
            <a href="/login">
                <button id="go-to-login">Go to Login</button>
            </a>
        </div>
    </div>
</section>