<div class="title">
    <h1></h1>
</div>

<div class="thumbs-content">
    <script type="text/javascript">
        var allpieces = JSON.parse('<%- stringPieces %>');
    </script>
    <% for(let index = 0; index < piecePhoto.length; index++) { %>
    <div class="thumb-col">
        <div class="thumb frame-gallery" id="<%= piecePhoto[index].id %>">
            <div class="thumb-pic">
                <img src="<%= piecePhoto[index].thumb %>" alt="<%= piecePhoto[index].name %>"/>
            </div>
            <div class="description"><%= piecePhoto[index].name %>
                <button reference="<%= index %>" class="piece-info-button">...</button>
            </div>
        </div>
    </div>
    <% } %>
</div>

<div class="pages">
    <ul>
        <li><a class="frame-gallery" target="_self" href="/page/1">1</a></li>
        <li><a class="frame-gallery" target="_self" href="/page/2">2</a></li>
        <li><a class="frame-gallery" target="_self" href="/page/3">3</a></li>
        <li><span class="frame-gallery">...</span></li>
        <li><a class="frame-gallery" target="_self" href="/page/10">10</a></li>
        <li><a class="frame-gallery" target="_self" href="/page/11">11</a></li>
        <li><a class="frame-gallery" target="_self" href="/page/12">12</a></li>
    </ul>
</div>