<div class="title" <%= (typeof titlePage === 'string') ? 'style=display:block' : 'style=display:none' %>>
    <h1><%= (typeof titlePage !== 'undefined') ? titlePage : '' %></h1>
</div>

<div class="thumbs-content">
    <script type="text/javascript">
        var allpieces = JSON.parse(`<%- stringPieces %>`);
    </script>
    <% for (let key in piecePhoto) { 
        if (piecePhoto.hasOwnProperty(key)) {
            const item = piecePhoto[key];
    %>
        <div class="thumb-col">
            <div class="thumb frame-gallery" id="<%= item.itemId %>">
                <input class="thumb-checkbox" id="<%= item.itemId %>" type="checkbox" <%= item.picked ? 'checked' : '' %> <%= (item.picked === 'PRIVATE') ? 'readonly disabled' : '' %>/>
                <div class="thumb-pic">
                    <img src="http://localhost:8888/api/image/<%= item.itemId %>" alt="<%= item.itemId %>" title="<%= item.name %>"/>
                </div>
                <div class="description">
                    <div class="pieceName" title="<%= item.name %>"><%= item.name %></div>
                    <button reference="<%= item.itemId %>" class="piece-info-button">...</button>
                </div>
            </div>
        </div>
    <% }} %>
</div>

<div class="pages">
    <ul>
        <% for (let index = 0; index < buttons.length; index++) { %>
            <% if (buttons[index] > 0) { %>
            <li><a class="frame-gallery" target="_self" href="<%= (categoryCode === 'all') ? ((typeof searchPattern !== 'undefined') ? ('/search/' + searchPattern) : '') : ('/category/' + categoryCode) %>/page/<%= buttons[index] %>"><%= buttons[index] %></a></li>
            <% } else { %>
            <li><span class="frame-gallery"><%= buttons[index] %></span></li>
            <% } %>    
        <% } %>
    </ul>
</div>