<div class="title">
    <h1></h1>
</div>

<div class="thumbs-content">
    <script type="text/javascript">
        var allpieces = JSON.parse('<%- stringPieces %>');
    </script>
    <% for(let index = page_min; index < page_max; index++) { %>
    <div class="thumb-col">
        <div class="thumb frame-gallery" id="<%= piecePhoto[index].id %>">
            <div class="thumb-pic">
                <img src="<%= piecePhoto[index].thumb %>" alt="<%= piecePhoto[index].name %>"/>
            </div>
            <div class="description"><%= ((piecePhoto[index].name.length > 50) ? (piecePhoto[index].name.substring(0,50) + ' ...') : piecePhoto[index].name) %>
                <button reference="<%= piecePhoto[index].id %>" class="piece-info-button">...</button>
            </div>
        </div>
    </div>
    <% } %>
</div>

<div class="pages">
    <ul>
        <% for (let index = 0; index < buttons.length; index++) { %>
            <% if (buttons[index] > 0) { %>
            <li><a class="frame-gallery" target="_self" href="/page/<%= buttons[index] %>"><%= buttons[index] %></a></li>
            <% } else { %>
            <li><span class="frame-gallery"><%= buttons[index] %></span></li>
            <% } %>    
        <% } %>
    </ul>
</div>