<div class="title">
    <h1></h1>
</div>

<div class="thumbs-content">
    <script type="text/javascript">
        var allpieces = JSON.parse(`<%- stringPieces %>`);
    </script>
    <% for (let key in piecePhoto) { 
        if (piecePhoto.hasOwnProperty(key)) { 
            const item = piecePhoto[key];
    %>
        <div class="thumb-col">
            <div class="thumb frame-gallery" id="<%= item.id %>">
                <div class="thumb-pic">
                    <img src="<%= item.thumb %>" alt="<%= item.name %>"/>
                </div>
                <div class="description"><%= ((item.name.length > 46) ? (item.name.substring(0, 46) + ' ...') : item.name) %>
                    <button reference="<%= item.id %>" class="piece-info-button">...</button>
                </div>
            </div>
        </div>
    <% }} %>
</div>

<div class="pages">
    <ul>
        <% for (let index = 0; index < buttons.length; index++) { %>
            <% if (buttons[index] > 0) { %>
            <li><a class="frame-gallery" target="_self" href="/page/<%= buttons[index] %>"><%= buttons[index] %></a></li>
            <% } else { %>
            <li><span class="frame-gallery"><%= buttons[index] %></span></li>
            <% } %>    
        <% } %>
    </ul>
</div>