<% if (response) { %>
    <div id="message-card" class="<%= response.success ? 'req-sucess' : 'req-error' %>">
        <span><%= response.message%></span>
    </div>
    <script>
        setTimeout(()=> {
            document.getElementById("message-card").classList.add("show-fading");
        }, 100);
        setTimeout(()=> {
            document.getElementById("message-card").classList.remove("show-fading");
        }, 5000);
    </script>
<% } else {%>
<div id="message-card"></div>
<% } %>

<article id="form-admin">
    <div class="table-admin">
        <div class="table-header head-users"><%= tableTitle %></div>
        
        <table cellspacing="0">
            <tr>
                <th class="edition-options"></th>
                <th>Picture</th>
                <th>Name</th>
                <th>Username</th>
                <th>Registration</th>
                <th>Email</th>
                <th>Second Email</th>
                <th>Movile</th>
                <th>Second Movile</th>
                <th>Birth</th>
                <th>Country</th>
                <th>City</th>
                <th>Postal Code</th>
            </tr>

            <% for (let index = 0; index < data.length; index++) { %>
                <tr>
                    <td class="edition-options-data-admin" data="<%= JSON.stringify(data[index]) %>"></td>
                    <td><img src="<%= `${services.imagesHost}/api/image/admin/` + (data[index].photo ? data[index].photo : 'empty') %>" alt="" /></td>
                    <td><%= data[index].first_name + ' ' + data[index].last_name%></td>
                    <td><%= data[index].username %></td>
                    <td><%= data[index].registration_date %></td>
                    <td><%= data[index].email %></td>
                    <td><%= data[index].email2 %></td>
                    <td><%= data[index].movile %></td>
                    <td><%= data[index].movile2 %></td>
                    <td><%= data[index].birth %></td>
                    <td><%= data[index].country %></td>
                    <td><%= data[index].city %></td>
                    <td><%= data[index].postal_code %></td>
                </tr>
            <% } %>

        </table>
    </div>
</article>