<% if (response) { %>
    <div id="message-card" class="<%= response.success ? 'req-sucess' : 'req-error' %>">
        <span><%= response.message%></span>
    </div>
    <script>
        setTimeout(()=> {
            document.getElementById("message-card").classList.add("show-fading");
        }, 100);
        setTimeout(()=> {
            document.getElementById("message-card").classList.remove("show-fading");
        }, 5000);
    </script>
<% } else {%>
<div id="message-card"></div>
<% } %>

<article id="form-admin">
    <div class="table-admin">
        <div class="table-header head-categories"><%= tableTitle %></div>
        
        <table cellspacing="0">
            <tr>
                <th class="edition-options"></th>
                <th>Id</th>
                <th>Path Code</th>
                <th>Category Name</th>
            </tr>

            <% for (let index = 0; index < data.length; index++) { %>
                <tr>
                    <td class="edition-options-data" data="<%= JSON.stringify(data[index]) %>"></td>
                    <td><%= data[index].id %></td>
                    <td><%= data[index].path %></td>
                    <td><%= data[index].name %></td
                </tr>
            <% } %>

        </table>
    </div>
</article>