<% if (response) { %>
    <div id="message-card" class="<%= response.success ? 'req-sucess' : 'req-error' %>">
        <span><%= response.message%></span>
    </div>
    <script>
        setTimeout(()=> {
            document.getElementById("message-card").classList.add("show-fading");
        }, 100);
        setTimeout(()=> {
            document.getElementById("message-card").classList.remove("show-fading");
        }, 5000);
    </script>
<% } else {%>
<div id="message-card"></div>
<% } %>

<article id="form-admin">
    <div class="table-admin">
        <div class="table-header head-pieces"><%= tableTitle %></div>
        
        <table cellspacing="0">
            <tr>
                <th class="edition-options"></th>
                <th>Internal Id</th>
                <th>External Id</th>
                <th>Thumb</th>
                <th>Name</th>
                <th>Artist</th>
                <th>Type</th>
                <th>Released</th>
                <th>Size</th>
                <th>Price</th>
                <th>Currency</th>
                <th>Possible Owner</th>
            </tr>

            <% for (let index = 0; index < data.length; index++) { %>
                <tr>
                    <td class="edition-options-data-piece" data="<%= JSON.stringify(data[index]) %>"></td>
                    <td><%= data[index].id %></td>
                    <td><%= data[index].itemId %></td>
                    <td><img src="<%= 'http://localhost:8888/api/image/' + (data[index].itemId ? data[index].itemId : 'empty') %>" alt="" /></td>
                    <td><%= data[index].name %></td>
                    <td><%= data[index].artist %></td>
                    <td><%= data[index].type %></td>
                    <td><%= data[index].release_date %></td>
                    <td><%= data[index].size %></td>
                    <td><%= data[index].price %></td>
                    <td><%= data[index].currency %></td>
                    <td><%= data[index].userId %></td>
                </tr>
            <% } %>

        </table>
    </div>
</article>