<article id="form-admin">
    <div class="table-admin">
        <div class="table-header head-trading"><%= tableTitle %></div>
        
        <table cellspacing="0">
            <tr>
                <th>Id</th>
                <th>User Id</th>
                <th>User complete name</th>
                <th>Piece Id</th>
                <th>Piece Name</th>
                <th>Date</th>
            </tr>

            <% for (let index = 0; index < data.length; index++) { %>
                <tr>
                    <td><%= data[index].id %></td>
                    <td><%= data[index].userId %></td>
                    <td>Unknown</td>
                    <td><%= data[index].pieceId %></td>
                    <td><%= data[index].name %></td>
                    <td>No datetime</td>
                </tr>
            <% } %>

        </table>
    </div>
</article>
