<article id="form-admin">
    <div class="table-admin">
        <div class="table-header head-users"><%= tableTitle %></div>
        
        <table cellspacing="0">
            <tr>
                <th>Picture</th>
                <th>Name</th>
                <th>Username</th>
                <th>Registration</th>
                <th>Email</th>
                <th>Movile</th>
                <th>Birth</th>
                <th>Country</th>
                <th>City</th>
                <th>Postal Code</th>
            </tr>

            <% for (let index = 0; index < data.length; index++) { %>
                <tr>
                    <td><img src="<%= data[index].Picture %>" alt="" /></td>
                    <td><%= data[index].Name %></td>
                    <td><%= data[index].Username %></td>
                    <td><%= data[index].Registration %></td>
                    <td><%= data[index].Email %></td>
                    <td><%= data[index].Movile %></td>
                    <td><%= data[index].Birth %></td>
                    <td><%= data[index].Country %></td>
                    <td><%= data[index].City %></td>
                    <td><%= data[index].PostalCode %></td>
                </tr>
            <% } %>

        </table>
    </div>
</article>