<article id="form-admin">
    <div class="table-admin">
        <div class="table-header head-users"><%= tableTitle %></div>
        
        <table cellspacing="0">
            <tr>
                <th>Picture</th>
                <th>Name</th>
                <th>Username</th>
                <th>Registration</th>
                <th>Email</th>
                <th>Movile</th>
                <th>Birth</th>
                <th>Country</th>
                <th>City</th>
                <th>Postal Code</th>
            </tr>

            <% for (let index = 0; index < data.length; index++) { %>
                <tr>
                    <td><img src="http://lorempixel.com/100/100/people/3" alt="" /></td>
                    <td><%= data[index].first_name + ' ' + data[index].last_name%></td>
                    <td><%= data[index].username %></td>
                    <td><%= data[index].registration_date %></td>
                    <td><%= data[index].email %></td>
                    <td><%= data[index].movile %></td>
                    <td><%= data[index].birth %></td>
                    <td><%= data[index].country %></td>
                    <td><%= data[index].city %></td>
                    <td><%= data[index].postal_code %></td>
                </tr>
            <% } %>

        </table>
    </div>
</article>