<%if (result) { %>
<div id="message-card" class="<%= result.success ? 'req-sucess' : 'req-error' %>">
    <span><%= result.message%></span>
</div>
<script>
    setTimeout(()=> {
        document.getElementById("message-card").classList.add("show-fading");
    }, 100);
    setTimeout(()=> {
        document.getElementById("message-card").classList.remove("show-fading");
    }, 5000);
</script>
<% } else {%>
<div id="message-card"></div>
<% } %>
<div class="editcard category-card">
    <div class="editcard-body">
        <div class="editcard-title"><%= titleForm%></div>
        <form action="/categories/<%= dataToUpdate ? 'update' : 'save' %>" method="post">
            <input name="category_id" type="hidden" value="<%= (dataToUpdate && dataToUpdate.id) ? dataToUpdate.id : '' %>"/>
            <div class="rowform">
                <label for="category_path">Path Code</label>
                <input id="category_path" name="category_path" type="text" placeholder="[Path] updates automatically" value="<%= (dataToUpdate && dataToUpdate.path) ? dataToUpdate.path : '' %>" size="50" maxlength="50" required readonly/>
            </div>
            <div class="rowform">
                <label for="category_name">Name</label>
                <input id="category_name" name="category_name" type="text" placeholder="Enter the category name" value="<%= (dataToUpdate && dataToUpdate.name) ? dataToUpdate.name : '' %>" size="50" maxlength="50" required/>
            </div>
            <button class="done_button" type="submit">Save</button>
        </form>
    </div>
</div>